*.log
*.pot
*.pyc
*.media
*.env
__pycache__
amarket/__pycache__/
*.db
*venv
*idea/
media/*
media/

# Environments
.env
.venv
.precommit-env
env/
venv/

# ==============================
# Django
# ==============================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ==============================
# VS Code
# ==============================
.vscode/